{% extends 'nurseView/nurse_base.html' %}
{% load staticfiles %}
{% block content %}
            {% if user.is_authenticated %}
                <div class="page-container" style="width: auto">
                    <table>
                        <tr>
                    <td><img src="../../static/images/una.png" style="align-content: center; width: 100px; height: 100px; padding-top: 10px; margin-bottom: 20px"></td>

                    <td><h2 class="top-menu" style="padding-left: 30px">Nurse Login for Emergency Bed Tracking System!</h2></td>
                    </tr>
                    </table>
                </div>
            {% endif %}
            <div class="content container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="links">
                            <!-- Example row of columns -->
                            <div class="row">
                                    <div class="thumbnail" style="padding-bottom: 32px; background-color: beige">
                                            <p><a class="btn btn-primary" href="{% url 'eBedTrack:bed_availability' %}"
                                                  role="button">View
                                                Bed Availability &raquo;</a></p>
                                        <div class="mapouter"><div class="gmap_canvas">
                                            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1tg4D7qillWQL6HCERhxoLdxBsT8" width="640" height="480"></iframe>
                                            </div>
                                            <style>.mapouter{overflow:hidden;height:430px;width:800px;}.gmap_canvas {background:none!important;height:630px;width:640px;margin-left: 150px}</style></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
    </html>
{% endblock %}
