<html>
<head>
    <h2><strong>Privacy Statement for Emergency Bed Tracking System</strong></h2>
</head>
<body style="margin-left: 10%; margin-right: 10%">
<p style="justify-content: center">
  EHMS requires that app developers do the following:

Provide a publicly available and easily accessible Privacy Policy that explains what data the apps collecting and how that data will be used
Include the URL to this legal agreement in the App Dashboard
Link to the legal agreement in any app marketplaces that allows you to do so, such as Apple App Store
Comply with your own Privacy Policy
Here are the guidelines from Facebook on users’ privacy to all app developers:
</p>
<p>
Your app’s Privacy Policy must be displayed so that users can easily reach and read it.
Your app can only ask users to provide necessary data to operate.
Users must be able to agree or disagree to provide personal data unless it’s basic account information.
A user’ friends’ data can only be used in the context of user’ experience on the application.
Users’ private information cannot be used outside the scope of the application.
Apps cannot users data from Facebook users for any advertising creatives.
If Facebook disables an application or if it stops using the platform, all data from Facebook must be deleted.
</p>
<p>
Your app is not allowed to sell any data.
As a developer you’re entirely responsible for the whole content of and within the application, which refers to ads, user-generated content and any other content that your app may host and deliver to users through third parties or not. Developers have to state clearly that the app’s content is not provided by Facebook.
You are prohibited to promote or provide content comprising such things as fraudulent content, hateful, threatening, pornographic, defamatory content, violence, nudity graphics etc.
</p>
</body>
</html>